<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间使用的是接口名  -->
<mapper namespace="com.qianfeng.dao.IUserInfoDao">
	<!--在本mapper中要使用二级缓存  -->	
	<cache></cache>
	<resultMap type="UserInfo" id="userInfoMap">
		<id property="userName" column="userName"/>
		<result property="password" column="password"/>
		<result property="email" column="email"/>
		
	</resultMap>
	
	
	<!--这里必须使用resultMap  -->
	<select id="findByName" parameterType="string" resultType="UserInfo">
		select * from userinfo where userName=#{userName}
	</select>
	
	<insert id="addUserInfo" parameterType="UserInfo">
		insert into userinfo(userName,password,email) values(#{userName},#{password},#{email})
	</insert>
</mapper>
