<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<!-- 两个一块设置才会起作用 
	    启用懒加载，必须按照下面方式配置 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 将积极加载改为消极加载即按需加载。必须写,且为false才会懒加载   -->
		<setting name="aggressiveLazyLoading" value="false"/>
	</settings>
	
	<!--设置别名  alias 唯一  可以随便写-->
	<typeAliases>
		<typeAlias type="com.qianfeng.entity.Book" alias="Book"/>
		<typeAlias type="com.qianfeng.entity.UserInfo" alias="UserInfo"/>
		<typeAlias type="com.qianfeng.entity.Cart" alias="Cart"/>
		<typeAlias type="com.qianfeng.vo.CartAndBooks" alias="CartAndBooks"/>
		<typeAlias type="com.qianfeng.entity.Orders" alias="Orders"/>
		<typeAlias type="com.qianfeng.entity.Items" alias="Items"/>
		<typeAlias type="com.qianfeng.vo.OrdersAndStatus" alias="OrdersAndStatus"/>
	</typeAliases>
	
</configuration>